only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=esbuild
only-built-dependencies[]=onnxruntime-node
only-built-dependencies[]=protobufjs
only-built-dependencies[]=re2
only-built-dependencies[]=sharp
